manifest {
  name        = 'ARMonaut'
  author      = 'Federica Piergiacomo'
  description = 'Antibiotic & Metal Resistance Annotation Explorer Workflow'
  version     = '1.0.0'
}

////////////////////////////////////////////////////////////////////////////////
// GLOBAL SETTINGS
////////////////////////////////////////////////////////////////////////////////

process {
  cpus   = { params.threads ?: 4 }
  memory = '32 GB'
  time   = '7d'
  errorStrategy = 'retry'
  maxRetries = 2
}

singularity {
  enabled    = true
  autoMounts = true
}

docker {
  enabled     = false
  runOptions  = '-u \$(id -u):\$(id -g)' 
}

params {
  input    = "$baseDir/data"
  outdir   = "$baseDir/results"
  carddir  = "$baseDir/databases/card_db"
  threads  = 4
}

////////////////////////////////////////////////////////////////////////////////
// CONTAINER MAPPINGS
////////////////////////////////////////////////////////////////////////////////

process {

  // Antibiotic Resistance (RGI + CARD)
  withName: ARG_ANNOT {
    container = 'quay.io/biocontainers/rgi:6.0.3--pyha8f3691_0'
    cpus = { params.threads ?: 8 }
    memory = '64 GB'
    time = '7d'
  }

  // Metal Resistance (DIAMOND + BacMet2)
  withName: BACMET_ANNOT {
    container = 'docker://nanozoo/diamond:2.1.12--cc14f58'
    cpus = { params.threads ?: 16 }
    memory = '128 GB'
    time = '14d'
  }

  // 16S rRNA Detection (Barrnap)
  withName: BARRNAP_16S {
    container = 'docker://chrishah/barrnap:0.9'
    cpus = { params.threads ?: 4 }
    memory = '16 GB'
    time = '2d'
  }

  // Plasmid Detection (PlasmidFinder / MOB-suite)
  withName: PLASMIDFINDER {
    container = 'docker://quay.io/staphb/plasmidfinder'
    cpus = { params.threads ?: 4 }
    memory = '32 GB'
    time = '3d'
  }

  // Genome/Protein Annotation (Prokka)
  withName: PROKKA_ANNOT {
    container = 'docker://quay.io/staphb/prokka'
    cpus = { params.threads ?: 8 }
    memory = '64 GB'
    time = '5d'
  }
}

////////////////////////////////////////////////////////////////////////////////
// EXECUTION PROFILES
////////////////////////////////////////////////////////////////////////////////

profiles {
  // Default local execution
  standard {
    process.executor = 'local'
    process.queueSize = 4
  }

  // Generic SLURM profile (portable)
  slurm {
    process.executor = 'slurm'
    process.queueSize = 50

    // Allow overriding via command-line
    clusterOptions = { params.cluster_options ?: '' } 
    // e.g. --cluster_options "--partition=long --account=mygroup"

    // Safe defaults
    process.cpus = { params.threads ?: 4 }
    process.memory = '16 GB'
    process.time = '2d'
  }


  // Docker-based local run
  docker {
    docker.enabled = true
    singularity.enabled = false
    process.executor = 'local'
  }

  // Lightweight test profile (1 CPU, 2 GB)
  test {
    process.executor = 'local'
    process.cpus = 1
    process.memory = '2 GB'
    process.time = '1h'

    params.threads = 1

    // total override of every process

    withName: '*' {
      cpus = 1
      memory = '2 GB'
    }
  }

}

////////////////////////////////////////////////////////////////////////////////
// REPORTS & LOGGING
////////////////////////////////////////////////////////////////////////////////

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_timeline.html"
  overwrite = true

}

report {
  enabled = true
  file = "${params.outdir}/pipeline_report.html"
  report.overwrite = true
}

trace {
  enabled = true
  file = "${params.outdir}/pipeline_trace.txt"
  overwrite = true
}

dag {
  enabled = true
  file = "${params.outdir}/pipeline_flowchart.png"
}

